* {
  box-sizing: border-box;
}

#logo {
  height: 80px;
  width: 80px;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.login {
  align-self: flex-end;
}

#checkmark {
  height: 10px;
  width: 10px;
}
#xmark {
  height: 10px;
  width: 10px;
}
